.button {
  width: 163px;
  height: 163px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background-color: var(--blue-400);
  color: var(--blue-50);

  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

  @media(max-width: 576px) {
    width: 120px;
    height: 120px;
  }

  &:hover {
    background-color: rgba(79, 83, 201, 0.9);
  }

  &:active {
    transform: scale(0.95);
  }

  .icon {
    width: 75px;
    height: 75px;
    color: var(--blue-50);

    @media(max-width: 576px) {
      width: 50px;
      height: 50px;
    }
  }

  span {
    font-size: 0.875rem;
    max-width: calc(100% - 20px);

    @media(max-width: 576px) {
      font-size: 0.8rem;
    }
  }
}