.button {
  width: 21.68rem;
  height: 3.5rem;

  border: none;
  border-radius: 8px;
  
  background: var(--blue-400);
  color: var(--blue-50);

  &:disabled {
    background-color: rgba(166, 166, 166, 0.7);
  }
}