.container {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem 0;

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    color: var(--gray-500);
  }

  .form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
  }
}