.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0 auto;

  @media(min-width: 390px) {
    width: calc(100% - 40px);
  }

  margin: 0 auto;

  @media(min-width: 390px) {
    width: calc(100% - 40px);
  }

  label {
    font-weight: 600;
  }

}