.wrapper {
  display: flex;

  .main {
    width: 100%;
  }

  .container {
    max-width: 1120px;
    margin: 0 auto;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 4.88rem 0rem;
  
    color: var(--blue-300);
    gap: 3rem;

    h2 {
      text-transform: uppercase;
      line-height: 2rem;
      text-align: center;
    }

    @media(max-width: 1440px) {
      width: calc(100vw - 60px);
    }
  
    .dashboardButtonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
  
      @media(max-width: 762px) {
        gap: 2.5rem;
      }
  
      @media(max-width: 599px) {
        gap: 1rem;
      }
  
      i {
        color: var(--blue-50);
      }
    }
  }
}
