.container {
  max-width: 1380px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  @media(max-width: 1440px) {
    width: calc(100vw - 60px);
  }

  h2 {
    font-size: 1.8rem;
    padding: 3.32rem 0;
    display: flex;
    justify-content: center;
    color: var(--blue-400);
  }

  .clientCardContainer {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .searchbarBox {
    margin-top: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .dashboardButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}