 .wrapper {
   display: flex;

   &.noScroll {
     @media(max-width: 1024px) {
       position: fixed;
       width: 100%;
       overflow: hidden;
     }
   }

   .main {
     width: 100%;
     padding: 0 0 2rem 0;
   }
 }