.wrapper {
  height: 4.5rem;
  width: 100%;

  position: static;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  background: var(--blue-400);
  color: var(--blue-50);

  z-index: 100;

  @media(max-width: 1024px) {
    position: sticky;
    top: 0;

    &.home {
      position: sticky;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;

    .leftColumn {
      width: 100%;
      display: flex;
      align-items: center;

      .leftContent {
        display: flex;
        font-size: 1.25rem;
        align-items: center;
        gap: 0.3rem;

        .menuIcon {
          display: none;
          width: 24px;
          height: 24px;
          cursor: pointer;

          @media(max-width: 1024px) {
            display: block;
          }

          g {
            fill: var(--blue-50) !important;
          }
        }

        svg {
         width: 1.4em;
        }

        .topArrow {
          display: none;
          cursor: pointer;

          @media(max-width: 599px) {
            display: block;
            margin-right: 1rem;

            &.home {
              display: none;
            }
          }
        }
      }
    }

    .rightColumn {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.5rem;
      font-weight: bold;

      @media(max-width: 599px) {
        &>span {
          display: none;
        }
      }

      .dropdownIcon {
        cursor: pointer;
      }

      svg {
        cursor: pointer;
        stroke-width: 1;
      }
    }

    .dropdown {
      position: absolute;
      top: 3rem;
      max-width: 220px;
      width: 100%;
      background: linear-gradient(45deg, #3639B0 15%, rgba(101, 31, 249, 0.65) 97.67%);
      color: var(--white);
      border-radius: 4px;
      font-weight: normal;

      z-index: 100;

      li {
        padding: 0.7rem 1.4rem;
        border-top: 1px solid rgba(18, 19, 58, 0.2);
        cursor: pointer;
      }

      li:first-child {
        border-top: none;
      }
    }
  }
}