.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  background: var(--blue-400);
  color: var(--blue-50);

  .leftInfo {
    width: 6rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-50);
    font-size: 1.25rem;

    .topArrow {
      display: none;

      @media(max-width: 599px) {
        display: block;
      }
    }
  }
}