.leftItemContainer {
  width: 100%;
  height: 4.5rem;

  display: flex;
  align-items: center;

  // position: fixed;
  // top: 0;

  background: var(--blue-400);
  color: var(--blue-50);

  z-index: 10;

  .leftItem {
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 1rem;
    color: var(--blue-50);
    font-size: 1.25rem;

    .topArrow {
      display: none;

      @media(max-width: 599px) {
        // display: block;
      }
    }
  }
}