.loaderContainer {
  max-width: 1200px;
  height: calc(100vh - 72px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 100%;
  }
}