.container {
  max-width: 1188px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem 0;

  @media(max-width: 762px) {
    justify-content: center;
  }

  h2 {
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    color: var(--gray-500);
  }

  .form {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
  }
}