.container {
  max-width: 1168px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 2rem 0;

  @media(max-width: 762px) {
    justify-content: center;
    height: 1350px;
  }

  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    color: var(--gray-500);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
  }
}